.uploadBtn:hover {
  border: 1px solid #e4e4e7 !important;
}

.submit-button {
  width: 100%;
  margin-top: 2rem;
}

@media only screen and (max-width: 1300px) {
  .form-box {
    margin-top: 0px;
    width: 60vw;
  }
}
