.profileImg {
  border-radius: 50%;
  width: 150px;
  height: 150px;
}

.profileName {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.profileName label {
  margin-bottom: 5px;
  text-align: start;
}

.editForm {
  align-items: center;
  margin: 0rem auto 3rem;
  position: initial;

  transform: none;
}

.editForm input {
  color: black;
}

.editForm label {
  margin-top: 10px;
}
