.createProjectContainer {
  height: 138vh;
}

.uploadBtn:hover {
  border: 1px solid #e4e4e7 !important;
}

.submit-button {
  width: 100%;
  margin-top: 2rem;
}

.form-col {
  display: flex;
  width: 100%;
  gap: 1vw;
}

.createProjectLabel {
  width: 100%;
  text-align: left;
}

.createProjectLabel label {
  margin: 0px;
}

@media only screen and (max-width: 1300px) {
  .form-box {
    margin-top: 0px;
    width: 60vw;
  }
}

@media only screen and (max-width: 500px) {
  .form-box {
    margin-top: 0px;
    width: 60vw;
  }
}
