#about {
    height: 2rem;
    margin-top: -2rem;
}

.aboutDiv {
    /* border: 2px solid red; */
    display: flex;
    flex-direction: column;
    align-items: center;
    background: var(--green-20);
    padding: 3rem 0;
}

.aboutDesc {
    margin-bottom: 3rem;
    margin-top: 1rem;
    width: 45%;
    text-align: justify;
}

/* MEDIA QUERY */

@media only screen and (max-width : 400px) {
    .cardContent {
        padding: 8px !important;
    }
}

@media only screen and (max-width : 600px) {
    .aboutCardContainerDiv {
        padding: 0 1rem 0 2.5rem !important;
    }

    .aboutCard {
        padding: 0 !important;
        padding-top: 1rem !important;
    }

    #about {
        height: 5rem;
    }
}


@media only screen and (max-width : 768px) {
    .aboutDesc {
        width: 90% !important;
    }

    #about {
        height: 5rem !important;
    }
}

@media only screen and (min-width : 768px) and (max-width : 1200px) {
    .aboutDesc {
        width: 70% !important;
    }

    #about {
        height: 5rem !important;
    }
}

@media only screen and (min-width : 992px) and (max-width : 1200px) {
    .aboutCardContainerDiv {
        padding: 0 1rem 0 2.5rem !important;
    }

    #about {
        margin-top: 0;
    }
}