.filterContainer .searchBox > div:first-child {
  width: 80% !important;
}

.projectsCard > div:first-child {
  border: 1px solid #c9c9c9;
  box-shadow: none;
}

.project-container {
  min-height: 100vh;
  height: 100%;
  padding: 80px 8vw 80px;
}

.projectHead {
  margin: 5vh 0px 5vh;
  font-size: 20px;
  font-family: arial;
  text-align: center;
}

.projectSearch {
  margin-top: 3vh;
  display: flex;
  justify-content: space-between;
}

.projectSearch input {
  padding: 1.5vh 2.5vw;
  width: 75%;
  border: 1px solid silver;
  border-radius: 30px;
  color: black;
}

.filterBtn {
  width: 15%;
}

.projectContent {
  margin-top: 3%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 10px;
}

.box {
  position: relative;
  border: 1px solid #989696;
  border-radius: 5px;
  width: 100%;
  padding: 13px;
  background: white;
  cursor: pointer;
}

.box:hover {
  transition: 0.3s ease-in-out;
  box-shadow: 4px 5px 20px 0px;
}

.box img {
  width: 100%;
  height: 45vh;
  max-height: 300px;
}

.box h4 {
  font-family: arial;
  font-size: 1.5rem;
  padding: 10px 0 0;
  color: #4a4747;
}

.box p {
  font-size: 13px;
  font-family: system-ui;
  padding: 1vh 0;
  color: #4a4747;
  line-height: 17px;
}

.box span {
  font-size: 15px;
  font-weight: bold;
  color: grey;
  font-family: monospace;
}

.donateBtn {
  display: flex;
  justify-content: space-between;
  padding-right: 30px;
  align-items: center;
  margin-top: 15px;
}

.donateBtn button {
  padding: 8px 16px;
  border-radius: 5px;
  background: #79ad3d !important;
}

.donateBtn p {
  color: #79ad3d;
  font-weight: bold;
}

.projectDetails {
  margin-top: 5vh;
  width: 100%;
  max-width: unset;
  border-radius: 5px;
  display: grid;
  column-gap: 5vw;
  row-gap: 5vh;
  grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
  box-shadow: 5px 5px 15px 0px;
}

.detailPage-img img {
  border-radius: 10px;
  width: 100%;
  height: 28vw;
}

.detailPage-projectInfo {
  width: 92%;
}

.detailPage-projectInfo h1 {
  font-size: max(35px, 1.1vmax);
  line-height: 30px;
}

.detailPage-projectInfo span {
  font-weight: bold;
  font-size: max(15px, 0.5vmax);
  color: #4b5262;
}

.detailPage-projectInfo p {
  /* margin: 1vh 0 3vh; */
  color: #4b5262;
  line-height: 20px;
}

.projectInfo-head {
  display: flex;
  justify-content: space-between;
}

.projectInfo-head a {
  font-weight: normal;
}

.contributeButton {
  background: green !important;
}

.reportButton {
  background: blue !important;
}

/* .plantImageDiv {
  border:2px solid red;
  display: flex;
}

.plantImage{
  height:10%
} */

.detailPage-owner p {
  padding: 2vh 0;
}

.detailPage-button button {
  width: 30%;
  min-width: 100px;
  margin-top: 3%;
}

.owner-detailProject {
  display: flex;
  gap: 2vw;
}

.space {
  padding: 0px 2vw;
}

.detailPage-owner p {
  font-size: max(30px, 1.1vmax);
}

.detailPage-ownerDetails {
  display: flex;
  flex-direction: column;
}

.progressBar {
  position: relative;
  width: 100%;
  min-height: 10px;
  border: 1px solid;
  border-radius: 10px;
}

.progressBar span {
  position: absolute;
  border-radius: 10px;
  width: 40%;
  height: 100%;
  background: blue;
}

@media screen and (max-width: 1300px) {
  .project-container {
    padding: 50px 3vw 80px;
  }

  .projectContent {
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  }
}
