.footerDiv {
  padding: 2rem 1rem 1rem 1.1rem;
  background: var(--green-30);
  height: 150px;
}


#footerImg {
  height: 3.5rem;
  margin-top: 0.5rem;
}

#footerImg:hover {
  animation: scaleup(0.2s);
  transform: scale(1.1);
  transition: ease 0.4s all;
}

.footerIcons {
  border-radius: 50%;
  margin: 0 0 0 2.5rem;
  transform: scale(1.4);
  cursor: pointer;
  color: white;
  /* transition: color 0.3s; */
}

@media only screen and (max-width: 600px) {
  .footerDiv {
    padding: 0 !important;
  }

  #footerLogo {
    margin-bottom: 1rem;
  }

  .footerText {
    color: white;
    font-size: 14px;
    text-align: center;
    padding-bottom: 1rem;
    background: var(--green-30);
  }
}

@media only screen and (max-width: 600px) {
  .footerDiv {
    padding: 0 !important;
  }

  #footerLogo {
    text-align: center !important;
  }

  #footerIcons {
    text-align: center !important;
    display: block !important;
  }
}
