.mission {
    /* border:2px solid green; */
    background: var(--green-10);
    padding-bottom: 2rem;
}

.missionImgContainer {
    height: 25rem;
}

.missionImg {
    height: 100%;
    width: unset;
    margin: auto;
}

#mission {
    height: 4rem;
}

/* MEDIA QUERY */

@media only screen and (max-width : 600px) {
    .missionHead {
        font-size: 2rem;
    }

    #mission {
        height: 2rem;
    }

    .missionPara {
        margin-bottom: 2rem !important;
    }
}

@media only screen and (max-width : 600px) {
    .missionImgContainer {
        height: 20rem;
        margin: 0 2rem;
    }

    .missionHead {
        font-size: 1.5rem !important;
    }
}

@media only screen and (min-width : 600px) and (max-width : 768px) {
    .missionImgContainer {
        height: 22rem;
        margin-left: 2rem;
    }

    .missionHead {
        font-size: 1.8rem !important;
    }

    .missionPara {
        margin-bottom: 2rem !important;
        font-size: 0.8rem !important;
    }
}

@media only screen and (min-width : 768px) and (max-width : 900px) {
    .missionImgContainer {
        margin-left: 2rem;
    }

    .missionHead {
        font-size: 1.8rem !important;
    }

    .missionPara {
        margin-bottom: 2rem !important;
    }
}

@media only screen and (min-width : 900px) and (max-width : 1200px) {
    .missionPara {
        margin-bottom: 2rem !important;
    }

    .missionHead {
        font-size: 2rem !important;
    }
}