html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}
body {
  background: #ebf3e8;
}

:root {
  --green-10: #ebf3e8;
  --green-20: #d2e3c8;
  --green-30: #86a789;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
