.profile-container {
  height: 100vh;
  padding: 100px 5vw 50px;
  display: flex;
  gap: 5%;
}

.profileMenu {
  background: #86a789;
  height: 100%;
  width: 20%;
  min-width: 200px;
  padding: 2rem 2rem;
}

.profileMenu ul {
  list-style-type: none;
}

.profileMenu ul li {
  cursor: pointer;
  border: 1px solid black;
  padding: 1rem;
  margin: 15px 0;
  font-weight: bold;
  font-family: arial;
  color: white;
  background: grey;
}

.profileContent {
  width: 75%;
  text-align: center;
}
