.profile-container {
  min-height: 100vh;
  margin-top: 60px;
  display: flex;
  gap: 5%;
}

.profileMenu {
  background: #203d15;
  width: 18vw;
  min-width: 200px;
  padding: 2rem 0rem;
}

.profileMenu ul {
  list-style-type: none;
}

.profileMenu ul li {
  cursor: pointer;
  padding: 1rem;
  margin: 15px 0;
  font-weight: bold;
  font-family: arial;
  color: white;
}

.profileMenu ul li:hover {
  background: rgb(8, 73, 16);
}

.profileContent {
  width: 70%;
  text-align: center;
  margin-top: 30px;
}

.active {
  background: rgb(8, 73, 16);
}
