.form-container {
  position: relative;
  text-align: center;
  height: 100vh;
  background: #ebf3e8;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid white;
  width: 62vw;
  max-width: 540px;
  min-width: 300px;
  border-radius: 1rem;
  background: white;
  padding: 3rem;
}

.switch-option {
  position: absolute;
  bottom: 15px;
  left: 50%;
  transform: translate(-50%, 0px);
  display: block;
  margin: auto;
  width: max-content;
}

.formHead {
  margin-bottom: 2rem;
}

.form-input {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  justify-content: center;
}

.form-input input,
.form-input textarea {
  border: 1px solid #e4e4e7;
  width: 100%;
  padding: 3% 15px;
  border-radius: 5px;
  min-height: 40px;
}

.form-checkbox {
  display: flex;
  justify-content: space-between;
  margin: 4vh 0 2vh 0;
  color: #373737;
  align-items: center;
}

.checkBoxDiv {
  display: flex;
  gap: 6px;
}

.form-button {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.form-button button {
  border-radius: 5px;
  font-weight: 600;
  min-height: 40px;
  height: 50px;
}

.submit-button {
  background: var(--primary);
  color: white;
}

.googleLoginBtn {
  background: #e9e9e9;

  border: 1px solid #e9e9e9;
}

.googleLoginBtn div {
  position: absolute;
  display: flex;
  align-items: center;
  width: max-content;
  left: 50%;
  transform: translate(-50%, 0%);
  justify-content: center;
  gap: 10px;
}

.googleLoginBtn img {
  height: 1.8rem;
}

.switch-option {
  position: absolute;
  bottom: 15px;
  display: block;
  margin: auto;
  width: max-content;
}

@media only screen and (max-width: 1300px) {
  .form-box {
    width: 40vw;
  }

  .form-button button {
    height: 40px;
  }
}

@media only screen and (max-width: 950px) {
  .form-checkbox {
    flex-direction: column;
  }
  .form-box {
    width: 60vw;
  }
}

@media only screen and (max-width: 450px) {
  .form-checkbox {
    flex-direction: column;
  }
  .form-box {
    width: 90vw;
  }
}
